<template>
    <lightning-layout>
        <lightning-layout-item size="4"></lightning-layout-item>
        <lightning-layout-item size="4">
            <lightning-card>
                <div class="slds-p-around_small">

                    <lightning-combobox
                        name="questionSets"
                        label="Select Question Set"
                        value={selectedValue}
                        placeholder="Select..."
                        options={questionSetOptions}
                        onchange={handleQuestionSetChange}>
                    </lightning-combobox>

                    <div class="slds-align_absolute-center slds-m-top_medium">
                        <lightning-button variant="brand" label={startBtnLabel} title={startBtnLabel} onclick={handleRegisterClick}></lightning-button>
                    </div>
                </div>
            </lightning-card>
        </lightning-layout-item>
        <lightning-layout-item size="4"></lightning-layout-item>
    </lightning-layout>

    <!-- MODAL -->
    <template if:true={showRegisterModal}>
        <!-- Modal/Popup Box LWC starts here -->
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                <!-- Modal/Popup Box LWC header here -->
                <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={handleCancelRegister}>
                        <lightning-icon icon-name="utility:close"
                            alternative-text="close"
                            variant="inverse"
                            size="small" ></lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>
                    <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Who Are You?</h2>
                </header>
                <!-- Modal/Popup Box LWC body starts here -->
                <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                    <lightning-input type="email" label="Email address" placeholder="your@email.com" onchange={handleEmailChange} value={userInput}></lightning-input>
                </div>
                <!-- Modal/Popup Box LWC footer starts here -->
                <footer class="slds-modal__footer">
                    <lightning-button variant="neutral" onclick={handleCancelRegister} class="slds-m-horizontal_medium"
                                        title="Cancel" label="Cancel"></lightning-button>
                    <lightning-button variant="brand" onclick={handleSubmitRegister} class="slds-m-horizontal_medium"
                                         title="Submit" label="Submit"></lightning-button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
</template>